
<p>This site will decode Vehicle Identification Numbers (VINs) for 1970-1977 Ford Mavericks and Mercury Comets. </p>

<%= form_tag '/home/decode_vin', :remote => true do -%>
      <ol>
        <li>
          <label>Enter the VIN to be decoded</label>
        </li>
        <li>
          <%= text_field_tag 'vin' %>
        </li>
      </ol>

    <%= submit_tag 'submit', id: 'vin-submit' %>
<% end -%>

<div id='vehicle'/>